# Build directories
/build/
*/build/

# LLVM build outputs
*.o
*.so
*.ll
*.bc

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Logs / editors / OS files
.DS_Store
*.swp
*.swo
*.log
*.out

